.clouds {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 5800px;
  width: 100%;
}

.clouds .cloud {
  position: absolute;
  z-index: -1;
}

.clouds .cloudLeft {
  left: -60%;
  -webkit-animation: LEFTtOrIGHT 240s ease infinite;
          animation: LEFTtOrIGHT 240s ease infinite;
}

.clouds .cloudMid {
  left: 10%;
  -webkit-animation: MidToRIGHT 600s ease infinite;
          animation: MidToRIGHT 600s ease infinite;
}

.clouds .cloudRight {
  right: -60%;
  -webkit-animation: rightToLeft 200s ease infinite;
          animation: rightToLeft 200s ease infinite;
}

@-webkit-keyframes rightToLeft {
  from {
    right: -60%;
  }
  to {
    right: 100%;
  }
}

@keyframes rightToLeft {
  from {
    right: -60%;
  }
  to {
    right: 100%;
  }
}

@-webkit-keyframes MidToRIGHT {
  from {
    left: 10%;
  }
  33% {
    left: 100%;
  }
  66% {
    left: -60%;
  }
  100% {
    left: 10%;
  }
}

@keyframes MidToRIGHT {
  from {
    left: 10%;
  }
  33% {
    left: 100%;
  }
  66% {
    left: -60%;
  }
  100% {
    left: 10%;
  }
}

@-webkit-keyframes LEFTtOrIGHT {
  from {
    left: -60%;
  }
  to {
    left: 100%;
  }
}

@keyframes LEFTtOrIGHT {
  from {
    left: -60%;
  }
  to {
    left: 100%;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.menu .menuNavigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menuNavigate h2 {
  padding: 20px;
  margin-left: 100px;
}

.menu .menuSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
}

.menu .menuSocial .fa {
  padding: 16px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.menu .menuSocial .fa:hover {
  opacity: 0.7;
}

.menu .menuSocial .fa-facebook {
  background: #3b5998;
  color: white;
}

.menu .menuSocial .fa-instagram {
  background: #125688;
  color: white;
}

.menu .menuLanguageChange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menuLanguageChange h2 {
  padding: 20px;
}
/*# sourceMappingURL=components.css.map */