//CLOUDS

.clouds {
  min-height: fit-content;
  height: 5800px;
  width: 100%;

  .cloud {
    position: absolute;
    z-index: -1;
  }

  .cloudLeft {
    left: -60%;
    animation: LEFTtOrIGHT 240s ease infinite;
  }

  .cloudMid {
    left: 10%;
    animation: MidToRIGHT 300s ease infinite;
  }

  .cloudRight {
    right: -60%;
    animation: rightToLeft 200s ease infinite;
  }

  @keyframes rightToLeft {
    from {
      right: -60%;
    }
    to {
      right: 100%;
    }
  }

  @keyframes MidToRIGHT {
    from {
      left: 10%;
    }
    to {
      left: 100%;
    }
  }

  @keyframes LEFTtOrIGHT {
    from {
      left: -60%;
    }
    to {
      left: 100%;
    }
  }
}

//MENU

.menu {
  width: 100%;
  height: 10vh;
  background-color: rgba(240, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
