//CLOUDS

.clouds {
  min-height: fit-content;
  height: 5800px;
  width: 100%;

  .cloud {
    position: absolute;
    z-index: -1;
  }

  .cloudLeft {
    left: -60%;
    animation: LEFTtOrIGHT 240s ease infinite;
  }

  .cloudMid {
    left: 10%;
    animation: MidToRIGHT 600s ease infinite;
  }

  .cloudRight {
    right: -60%;
    animation: rightToLeft 200s ease infinite;
  }

  @keyframes rightToLeft {
    from {
      right: -60%;
    }
    to {
      right: 100%;
    }
  }

  @keyframes MidToRIGHT {
    from {
      left: 10%;
    }
    33% {
      left: 100%;
    }
    66% {
      left: -60%;
    }
    100% {
      left: 10%;
    }
  }

  @keyframes LEFTtOrIGHT {
    from {
      left: -60%;
    }
    to {
      left: 100%;
    }
  }
}

//MENU

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10vh;

  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7px);

  .menuNavigate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2 {
      padding: 20px;
      margin-left: 100px;
    }
  }

  .menuSocial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 140px;

    .fa {
      padding: 16px;
      font-size: 20px;
      width: 20px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }

    .fa:hover {
      opacity: 0.7;
    }

    .fa-facebook {
      background: #3b5998;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }
  }

  .menuLanguageChange {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2 {
      padding: 20px;
    }
  }
}
